---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Verbal Velocity | We right when we write.">
  <main class="p-5 max-w-[42rem]">
    <div class="inner">
      <h1 class="text-center text-5xl font-extrabold m-0">
        Welcome to <span class="text-gradient">Verbal Velocity</span>
      </h1>
      <p class="font-medium font-mono text-center text-sm my-4 p-4">
        We <code class="px-1 py-1 cursor-pointer text-sm font-bold rounded"
          >right</code
        > when we <code
          class="px-1 py-1 cursor-pointer text-sm font-bold rounded">write</code
        >.<br />
        Or is it the other way around.
      </p>
      <ul role="list" class="grid gap-4 link-card-grid p-0">
        <Card
          href="#coming-soon"
          title="Blogs"
          body="Gotta document this journey."
        />
        <Card
          href="#coming-soon"
          title="Fiction"
          body="Sometimes I write fiction. Keeps me up at night."
        />
      </ul>
    </div>
  </main>
</Layout>

<style>
  html {
    color: black;
    background-color: rgb(222, 213, 224);
  }
  .text-gradient {
    background: rgb(200, 58, 237);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  code {
    background: rgba(200, 58, 237, 0.2);
    color: rgb(200, 58, 237);
  }

  .link-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  }
</style>
