---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/VerbalVelocity/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="m-0 min-h-screen flex flex-col justify-center items-center">
      <slot />
      <footer class="flex justify-center items-center h-6 justify-self-center">
        <a href="https://github.com/VerbalVelocity/VerbalVelocity">
          <img class="w-6 h-6 my-6" src="/VerbalVelocity/github.svg" />
        </a>
      </footer>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 200, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  body {
    margin: 0;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
